/* Estilo Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: #fff;
  min-height: 100vh;
  padding-top: 200px;
}

.interface {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

/* Estilo do cabeçalho */
header {
  padding: 0px; /* Ajuste o padding conforme necessário */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF0E9;
  z-index: 1000; 
}

.logo img {
  max-width: 190px;
  height: auto;
}

header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adiciona espaço entre a logo/menu e o botão */
}

.menu-desktop ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu-desktop ul li {
  margin-left: 40px;
}

.menu-desktop ul li a {
  text-decoration: none;
  padding: 1px;
  color: #7d7d7d;
  transition: 0.2s;
}

.menu-desktop ul li a:hover {
  color: burlywood;
  transform: scale(1.05);
}

.social-icon {
  width: 20px;
  margin-left: 10px; 
}

.btn-agende {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  color: antiquewhite;
  background-color: darksalmon;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 30px;
}

.btn-agende:hover {
  transform: scale(1.1); 
}

.btn-agende img {
  margin-left: 10px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
